{% load static %}
{% block head %}

<link rel="stylesheet" href="{% static 'css/styles_gen.css' %}">
{% endblock %}


<td class="stiJsViewerClearAllStyles" style="width: 100%">
  <table
    class="stiJsViewerClearAllStyles"
    cellpadding="0"
    cellspacing="0"
    align="Default"
    style="margin: 1px"
  >
    <tbody>
      <tr class="stiJsViewerClearAllStyles">
        <td class="stiJsViewerClearAllStyles">
          <div
            class="stiJsViewerStandartSmallButton stiJsViewerStandartSmallButtonDefault"
            style="
              font-family: Arial;
              height: 23px;
              box-sizing: content-box;
              margin: 1px;
            "
          >
            <table
              class="stiJsViewerClearAllStyles"
              cellpadding="0"
              cellspacing="0"
              style="height: 100%"
            >
              <tbody>
                <tr class="stiJsViewerClearAllStyles">
                  <td
                    class="stiJsViewerClearAllStyles"
                    style="line-height: 0; padding: 0px 3px"
                  >
                    <img src="{% static 'img/print.png' %}" />
                  </td>
                  <td
                    class="stiJsViewerClearAllStyles"
                    style="
                      padding: 1px 5px 0px 0px;
                      white-space: nowrap;
                      text-align: left;
                    "
                  >
                    Imprimir
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
        <td class="stiJsViewerClearAllStyles">
          <div
            class="stiJsViewerStandartSmallButton stiJsViewerStandartSmallButtonDefault"
            style="
              font-family: Arial;
              height: 23px;
              box-sizing: content-box;
              margin: 1px;
            "
          >
            <table
              class="stiJsViewerClearAllStyles"
              cellpadding="0"
              cellspacing="0"
              style="height: 100%"
            >
              <tbody>
                <tr class="stiJsViewerClearAllStyles">
                  <td
                    class="stiJsViewerClearAllStyles"
                    style="line-height: 0; padding: 0px 3px"
                  >
                    <img src="{% static 'img/save.png' %}" />
                  </td>
                  <td
                    class="stiJsViewerClearAllStyles"
                    style="
                      padding: 1px 0px 0px;
                      white-space: nowrap;
                      text-align: left;
                    "
                  >
                    Salvar
                  </td>
                  <td
                    class="stiJsViewerClearAllStyles"
                    style="padding: 0px 5px"
                  >
                    <img
                      src="{% static 'img/save_down.png' %}"
                      style="margin-top: 1px; vertical-align: baseline"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
        <td class="stiJsViewerClearAllStyles">
          <div
            class="stiJsViewerToolBarSeparator"
            style="width: 1px; height: 21px"
          ></div>
        </td>
        <td class="stiJsViewerClearAllStyles">
          <div
            class="stiJsViewerStandartSmallButton stiJsViewerStandartSmallButtonDisabled"
            style="
              font-family: Arial;
              height: 23px;
              box-sizing: content-box;
              margin: 1px;
            "
          >
            <table
              class="stiJsViewerClearAllStyles"
              cellpadding="0"
              cellspacing="0"
              style="height: 100%"
            >
              <tbody>
                <tr class="stiJsViewerClearAllStyles">
                  <td
                    class="stiJsViewerClearAllStyles"
                    style="line-height: 0; padding: 0px 3px"
                  >
                    <img
                      src="{% static 'img/first.png' %}"
                      style="opacity: 0.5"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
        <td class="stiJsViewerClearAllStyles">
          <div
            class="stiJsViewerStandartSmallButton stiJsViewerStandartSmallButtonDisabled"
            style="
              font-family: Arial;
              height: 23px;
              box-sizing: content-box;
              margin: 1px;
            "
          >
            <table
              class="stiJsViewerClearAllStyles"
              cellpadding="0"
              cellspacing="0"
              style="height: 100%"
            >
              <tbody>
                <tr class="stiJsViewerClearAllStyles">
                  <td
                    class="stiJsViewerClearAllStyles"
                    style="line-height: 0; padding: 0px 3px"
                  >
                    <img
                      src="{% static 'img/previus.png' %}"
                      style="opacity: 0.5"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
         <td class="stiJsViewerClearAllStyles">
          <div
            class="stiJsViewerToolBarSeparator"
            style="width: 1px; height: 21px"
          ></div>
        </td>
 
        {% comment %} <td class="stiJsViewerClearAllStyles">
          <div
            class="stiJsViewerToolBarSeparator"
            style="width: 1px; height: 21px"
          ></div>
        </td>
        <td class="stiJsViewerClearAllStyles">
          <div
            class="stiJsViewerStandartSmallButton stiJsViewerStandartSmallButtonDisabled"
            style="
              font-family: Arial;
              height: 23px;
              box-sizing: content-box;
              margin: 1px;
            "
          >
            <table
              class="stiJsViewerClearAllStyles"
              cellpadding="0"
              cellspacing="0"
              style="height: 100%"
            ></table>
          </div>
        </td>
        <td class="stiJsViewerClearAllStyles">
          <div
            class="stiJsViewerStandartSmallButton stiJsViewerStandartSmallButtonDisabled"
            style="
              font-family: Arial;
              height: 23px;
              box-sizing: content-box;
              margin: 1px;
            "
          >
            <table
              class="stiJsViewerClearAllStyles"
              cellpadding="0"
              cellspacing="0"
              style="height: 100%"
            ></table>
          </div>
        </td>
        <td class="stiJsViewerClearAllStyles">
          <table
            class="stiJsViewerClearAllStyles"
            cellpadding="0"
            cellspacing="0"
            style="margin: 1px"
          >
            <tbody>
              <tr class="stiJsViewerClearAllStyles">
                <td
                  class="stiJsViewerClearAllStyles"
                  style="padding: 0px 2px 0px 0px"
                >
                  Página
                </td>
                <td class="stiJsViewerClearAllStyles">
                  <input
                    name="PageControl"
                    class="stiJsViewerTextBox stiJsViewerTextBoxDefault"
                    style="
                      font-family: Arial;
                      width: 45px;
                      height: 21px;
                      line-height: 21px;
                      box-sizing: content-box;
                    "
                  />
                </td>
                <td class="stiJsViewerClearAllStyles" style="padding: 0px 2px">
                  de
                </td>
                <td
                  class="stiJsViewerClearAllStyles"
                  style="padding: 0px 2px 0px 0px"
                >
                  9
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td class="stiJsViewerClearAllStyles">
          <div
            class="stiJsViewerStandartSmallButton stiJsViewerStandartSmallButtonDefault"
            style="
              font-family: Arial;
              height: 23px;
              box-sizing: content-box;
              margin: 1px;
            "
          >
            <table
              class="stiJsViewerClearAllStyles"
              cellpadding="0"
              cellspacing="0"
              style="height: 100%"
            ></table>
          </div>
        </td>
        <td class="stiJsViewerClearAllStyles">
          <div
            class="stiJsViewerStandartSmallButton stiJsViewerStandartSmallButtonDefault"
            style="
              font-family: Arial;
              height: 23px;
              box-sizing: content-box;
              margin: 1px;
            "
          >
            <table
              class="stiJsViewerClearAllStyles"
              cellpadding="0"
              cellspacing="0"
              style="height: 100%"
            >
              <tbody>
                <tr class="stiJsViewerClearAllStyles">
                  <td
                    class="stiJsViewerClearAllStyles"
                    style="line-height: 0; padding: 0px 3px"
                  >
                    <img src="{% static 'img/next.png' %}" style="opacity: 1" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
        <td class="stiJsViewerClearAllStyles">
          <div
            class="stiJsViewerToolBarSeparator"
            style="width: 1px; height: 21px"
          ></div>
        </td>
        <td class="stiJsViewerClearAllStyles">
          <div
            class="stiJsViewerStandartSmallButton stiJsViewerStandartSmallButtonDefault"
            style="
              font-family: Arial;
              height: 23px;
              box-sizing: content-box;
              margin: 1px;
            "
          >
            <table
              class="stiJsViewerClearAllStyles"
              cellpadding="0"
              cellspacing="0"
              style="height: 100%"
            >
              <tbody>
                <tr class="stiJsViewerClearAllStyles">
                  <td
                    class="stiJsViewerClearAllStyles"
                    style="line-height: 0; padding: 0px 3px"
                  >
                    <img src="{% static 'img/last.png' %}" />
                  </td>

                  <td class="stiJsViewerClearAllStyles">
                    <div
                      class="stiJsViewerToolBarSeparator"
                      style="width: 1px; height: 21px"
                    ></div>
                  </td>





                  <td
                  class="stiJsViewerClearAllStyles"
                  style="padding: 0px 5px"
                >
                  <img
                    src="{% static 'img/zoom.png' %}"
                    style="margin-top: 1px; vertical-align: baseline"
                  />
                </td>
                  <td
                    class="stiJsViewerClearAllStyles"
                    style="
                      padding: 1px 0px 0px;
                      white-space: nowrap;
                      text-align: left;
                    "
                  >
                    100%
                </td>

                  <td
                    class="stiJsViewerClearAllStyles"
                    style="padding: 0px 5px"
                  >
                    <img
                      src="{% static 'img/zoom_down.png' %}"
                      style="margin-top: 1px; vertical-align: baseline"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</td>
