{% load static %} {% block head %}
<!-- Carrega o arquivo de estilo CSS -->
<link rel="stylesheet" href="{% static 'css/styles_gen.css' %}" />
{% endblock %} {% block content %}
<!-- Início da barra de ferramentas personalizada -->
<div class="stiJsViewerToolBar">
  <div style="padding: 2px">
    <table
      class="stiJsViewerToolBarTable"
      cellpadding="0"
      cellspacing="0"
      style="margin: 0px; font-family: Arial"
    >
      <tbody>
        <tr>
          <td style="width: 100%">
            <table cellpadding="0" cellspacing="0" style="margin: 1px">
              <tbody>
                <tr>
                  <!-- Botão de Imprimir -->
                  <td>
                    <div
                      id="printButton"
                      class="stiJsViewerStandartSmallButton"
                      style="font-family: Arial; height: 23px; margin: 1px"
                    >
                      <img
                        id="printImage"
                        src="{% static 'img/print.png' %}"
                        alt="Imprimir"
                        style="cursor: pointer"
                        onclick="window.location.href='{% url 'gerar_pdf' %}?status={{ filtros.status }}&area={{ filtros.area }}&usuario={{ filtros.usuario }}&data_inicio={{ filtros.data_inicio }}&data_fim={{ filtros.data_fim }}'"
                      />
                      <span
                        id="printText"
                        style="cursor: pointer; margin-left: 5px"
                        onclick="window.location.href='{% url 'gerar_pdf' %}?status={{ filtros.status }}&area={{ filtros.area }}&usuario={{ filtros.usuario }}&data_inicio={{ filtros.data_inicio }}&data_fim={{ filtros.data_fim }}'"
                      >
                        Imprimir
                      </span>
                    </div>
                  </td>

                  <!-- Botão de Salvar -->
                  <td>
                    <div
                      id="saveButton"
                      class="stiJsViewerStandartSmallButton"
                      style="font-family: Arial; height: 23px; margin: 1px"
                      onclick="gerarPDF()"
                    >
                      <img
                        src="{% static 'img/save.png' %}"
                        alt="Salvar"
                        style="cursor: pointer"
                      />
                      <span style="margin-left: 5px; cursor: pointer">
                        Salvar
                      </span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Inclua a biblioteca html2pdf.js -->

{% endblock %}
